@model IEnumerable<College_System.Models.StudentGrade>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create",new {id=ViewData["id"]})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Mark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseGrade.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Mark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseGrade.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = ViewData["id"], GradeID = item.GradeID }) |
            @Html.ActionLink("Details", "Details", new { id = ViewData["id"], GradeID = item.GradeID }) |
            @Html.ActionLink("Delete", "Delete", new { id = ViewData["id"], GradeID = item.GradeID })
        </td>
    </tr>
}

</table>
